# middleware
APP_CONFIG__MIDD__CORS_ALLOWED_ORIGINS='["http://localhost", "http://localhost:5173"]'

# Redis
APP_CONFIG__REDIS__HOST=redis
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0

# Logging
#APP_CONFIG__LOG_CONSOLE_LEVEL=10
#APP_CONFIG__MODE=TEST
